--
-- PostgreSQL database dump
--

-- Dumped from database version 13.14
-- Dumped by pg_dump version 13.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO devuser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.auth_group_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.auth_group_id_seq OWNER TO devuser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.auth_group_id_seq OWNED BY public.auth_group.id;


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO devuser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.auth_group_permissions_id_seq OWNER TO devuser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.auth_group_permissions_id_seq OWNED BY public.auth_group_permissions.id;


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO devuser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.auth_permission_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.auth_permission_id_seq OWNER TO devuser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.auth_permission_id_seq OWNED BY public.auth_permission.id;


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO devuser;

--
-- Name: core_ingredient; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.core_ingredient (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.core_ingredient OWNER TO devuser;

--
-- Name: core_ingredient_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.core_ingredient_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.core_ingredient_id_seq OWNER TO devuser;

--
-- Name: core_ingredient_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.core_ingredient_id_seq OWNED BY public.core_ingredient.id;


--
-- Name: core_recipe; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.core_recipe (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    time_minutes integer NOT NULL,
    price numeric(5,2) NOT NULL,
    link character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    image character varying(100)
);


ALTER TABLE public.core_recipe OWNER TO devuser;

--
-- Name: core_recipe_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.core_recipe_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.core_recipe_id_seq OWNER TO devuser;

--
-- Name: core_recipe_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.core_recipe_id_seq OWNED BY public.core_recipe.id;


--
-- Name: core_recipe_ingredients; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.core_recipe_ingredients (
    id bigint NOT NULL,
    recipe_id bigint NOT NULL,
    ingredient_id bigint NOT NULL
);


ALTER TABLE public.core_recipe_ingredients OWNER TO devuser;

--
-- Name: core_recipe_ingredients_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.core_recipe_ingredients_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.core_recipe_ingredients_id_seq OWNER TO devuser;

--
-- Name: core_recipe_ingredients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.core_recipe_ingredients_id_seq OWNED BY public.core_recipe_ingredients.id;


--
-- Name: core_recipe_tags; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.core_recipe_tags (
    id bigint NOT NULL,
    recipe_id bigint NOT NULL,
    tag_id bigint NOT NULL
);


ALTER TABLE public.core_recipe_tags OWNER TO devuser;

--
-- Name: core_recipe_tags_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.core_recipe_tags_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.core_recipe_tags_id_seq OWNER TO devuser;

--
-- Name: core_recipe_tags_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.core_recipe_tags_id_seq OWNED BY public.core_recipe_tags.id;


--
-- Name: core_tag; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.core_tag (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.core_tag OWNER TO devuser;

--
-- Name: core_tag_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.core_tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.core_tag_id_seq OWNER TO devuser;

--
-- Name: core_tag_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.core_tag_id_seq OWNED BY public.core_tag.id;


--
-- Name: core_user; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.core_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL
);


ALTER TABLE public.core_user OWNER TO devuser;

--
-- Name: core_user_groups; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.core_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.core_user_groups OWNER TO devuser;

--
-- Name: core_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.core_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.core_user_groups_id_seq OWNER TO devuser;

--
-- Name: core_user_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.core_user_groups_id_seq OWNED BY public.core_user_groups.id;


--
-- Name: core_user_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.core_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.core_user_id_seq OWNER TO devuser;

--
-- Name: core_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.core_user_id_seq OWNED BY public.core_user.id;


--
-- Name: core_user_user_permissions; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.core_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.core_user_user_permissions OWNER TO devuser;

--
-- Name: core_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.core_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.core_user_user_permissions_id_seq OWNER TO devuser;

--
-- Name: core_user_user_permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.core_user_user_permissions_id_seq OWNED BY public.core_user_user_permissions.id;


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO devuser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.django_admin_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.django_admin_log_id_seq OWNER TO devuser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.django_admin_log_id_seq OWNED BY public.django_admin_log.id;


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO devuser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.django_content_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.django_content_type_id_seq OWNER TO devuser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.django_content_type_id_seq OWNED BY public.django_content_type.id;


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO devuser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.django_migrations_id_seq OWNER TO devuser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.django_migrations_id_seq OWNED BY public.django_migrations.id;


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO devuser;

--
-- Name: spec_review_requirement_components; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.spec_review_requirement_components (
    id bigint NOT NULL,
    requirement_id bigint NOT NULL,
    component_id bigint NOT NULL
);


ALTER TABLE public.spec_review_requirement_components OWNER TO devuser;

--
-- Name: requirements_components_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.requirements_components_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.requirements_components_id_seq OWNER TO devuser;

--
-- Name: requirements_components_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.requirements_components_id_seq OWNED BY public.spec_review_requirement_components.id;


--
-- Name: spec_review_requirement; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.spec_review_requirement (
    id bigint NOT NULL,
    requirement character varying(255) NOT NULL,
    deviation text,
    specification_id bigint NOT NULL,
    clause character varying(20) NOT NULL,
    page_number integer NOT NULL
);


ALTER TABLE public.spec_review_requirement OWNER TO devuser;

--
-- Name: requirements_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.requirements_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.requirements_id_seq OWNER TO devuser;

--
-- Name: requirements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.requirements_id_seq OWNED BY public.spec_review_requirement.id;


--
-- Name: spec_review_component; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.spec_review_component (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    part_number character varying(50)
);


ALTER TABLE public.spec_review_component OWNER TO devuser;

--
-- Name: spec_review_component_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.spec_review_component_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.spec_review_component_id_seq OWNER TO devuser;

--
-- Name: spec_review_component_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.spec_review_component_id_seq OWNED BY public.spec_review_component.id;


--
-- Name: spec_review_specification; Type: TABLE; Schema: public; Owner: devuser
--

CREATE TABLE public.spec_review_specification (
    id bigint NOT NULL,
    spec_number character varying(100) NOT NULL,
    spec_title character varying(255) NOT NULL,
    spec_authority character varying(100) NOT NULL,
    revision character varying(50) NOT NULL,
    pdf character varying(100)
);


ALTER TABLE public.spec_review_specification OWNER TO devuser;

--
-- Name: spec_review_specification_id_seq; Type: SEQUENCE; Schema: public; Owner: devuser
--

CREATE SEQUENCE public.spec_review_specification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.spec_review_specification_id_seq OWNER TO devuser;

--
-- Name: spec_review_specification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: devuser
--

ALTER SEQUENCE public.spec_review_specification_id_seq OWNED BY public.spec_review_specification.id;


--
-- Name: auth_group id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group ALTER COLUMN id SET DEFAULT nextval('public.auth_group_id_seq'::regclass);


--
-- Name: auth_group_permissions id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group_permissions ALTER COLUMN id SET DEFAULT nextval('public.auth_group_permissions_id_seq'::regclass);


--
-- Name: auth_permission id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_permission ALTER COLUMN id SET DEFAULT nextval('public.auth_permission_id_seq'::regclass);


--
-- Name: core_ingredient id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_ingredient ALTER COLUMN id SET DEFAULT nextval('public.core_ingredient_id_seq'::regclass);


--
-- Name: core_recipe id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_recipe ALTER COLUMN id SET DEFAULT nextval('public.core_recipe_id_seq'::regclass);


--
-- Name: core_recipe_ingredients id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_recipe_ingredients ALTER COLUMN id SET DEFAULT nextval('public.core_recipe_ingredients_id_seq'::regclass);


--
-- Name: core_recipe_tags id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_recipe_tags ALTER COLUMN id SET DEFAULT nextval('public.core_recipe_tags_id_seq'::regclass);


--
-- Name: core_tag id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_tag ALTER COLUMN id SET DEFAULT nextval('public.core_tag_id_seq'::regclass);


--
-- Name: core_user id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_user ALTER COLUMN id SET DEFAULT nextval('public.core_user_id_seq'::regclass);


--
-- Name: core_user_groups id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_user_groups ALTER COLUMN id SET DEFAULT nextval('public.core_user_groups_id_seq'::regclass);


--
-- Name: core_user_user_permissions id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_user_user_permissions ALTER COLUMN id SET DEFAULT nextval('public.core_user_user_permissions_id_seq'::regclass);


--
-- Name: django_admin_log id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_admin_log ALTER COLUMN id SET DEFAULT nextval('public.django_admin_log_id_seq'::regclass);


--
-- Name: django_content_type id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_content_type ALTER COLUMN id SET DEFAULT nextval('public.django_content_type_id_seq'::regclass);


--
-- Name: django_migrations id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_migrations ALTER COLUMN id SET DEFAULT nextval('public.django_migrations_id_seq'::regclass);


--
-- Name: spec_review_component id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_component ALTER COLUMN id SET DEFAULT nextval('public.spec_review_component_id_seq'::regclass);


--
-- Name: spec_review_requirement id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_requirement ALTER COLUMN id SET DEFAULT nextval('public.requirements_id_seq'::regclass);


--
-- Name: spec_review_requirement_components id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_requirement_components ALTER COLUMN id SET DEFAULT nextval('public.requirements_components_id_seq'::regclass);


--
-- Name: spec_review_specification id; Type: DEFAULT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_specification ALTER COLUMN id SET DEFAULT nextval('public.spec_review_specification_id_seq'::regclass);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
cbe8165440fbf4b0308f7ee3a5d1deb685ed721e	2024-07-03 20:52:32.565709+00	2
4a513234092ae9dc526bd2ab9e3b1623d7d43eec	2024-07-29 09:37:43.594178+00	1
033f83bc714cf5fa235d7c71428ac3ab01588d7d	2024-07-30 09:11:18.87898+00	3
\.


--
-- Data for Name: core_ingredient; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.core_ingredient (id, name, user_id) FROM stdin;
1	salt	1
\.


--
-- Data for Name: core_recipe; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.core_recipe (id, title, description, time_minutes, price, link, user_id, image) FROM stdin;
3	recipe 1	some description	10	2.50	example.com	3	\N
4	recipe 1	some description	100	2.50	example.com	1	\N
5	recipe 1	some description	100	2.50	example.com	1	\N
6	new recipe	salt recipe	30	5.50	http:/example.com	1	\N
2	Recipe 1	sample description	100	2.50	example.com	1	uploads/recipe/7a91401e-c5c0-4d8b-b1c4-c141b75abdcb.jfif
\.


--
-- Data for Name: core_recipe_ingredients; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.core_recipe_ingredients (id, recipe_id, ingredient_id) FROM stdin;
1	6	1
\.


--
-- Data for Name: core_recipe_tags; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.core_recipe_tags (id, recipe_id, tag_id) FROM stdin;
1	4	1
2	5	1
3	5	2
\.


--
-- Data for Name: core_tag; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.core_tag (id, name, user_id) FROM stdin;
1	tag1	1
2	Tag 2 updated	1
\.


--
-- Data for Name: core_user; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.core_user (id, password, last_login, is_superuser, email, name, is_active, is_staff) FROM stdin;
2	pbkdf2_sha256$260000$lscBPBoovjd2CddFCTI9Ct$vku5gPfvD7wEH3tD2l+5WkPAPzwb+EotGBhdF+q8eIM=	\N	f	user2@example.com	User2_new_name	t	f
3	pbkdf2_sha256$260000$rsqDEXOwJN9YVlvdBwoAak$SljavthSLTi9NUbp1ohmK/mDq96k1EBaOBBJRah0hH0=	\N	f	user@example.com	string	t	f
1	pbkdf2_sha256$260000$wZXz8VumbpwFeDfuA44VmQ$RhnMx1WwZdivWvCNki+tY6J9h9FajDgKCgVXMMvlXZo=	2024-08-31 11:23:16.675452+00	t	admin@example.com		t	t
\.


--
-- Data for Name: core_user_groups; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.core_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: core_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.core_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	core	user
7	authtoken	token
8	authtoken	tokenproxy
9	core	recipe
10	core	tag
11	core	ingredient
12	spec_review	component
13	spec_review	requirement
14	spec_review	specification
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: devuser
--



--
-- Data for Name: spec_review_component; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.spec_review_component (id, name, part_number) FROM stdin;
18	baseframe	BF-001
19	pumps	P-002
20	cooler	C-003
21	filter	F-004
22	oil tank	OT-005
51	temperature control valve	TCV-001
\.


--
-- Data for Name: spec_review_requirement; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.spec_review_requirement (id, requirement, deviation, specification_id, clause, page_number) FROM stdin;
2	fully flanged	No	1	3.5.6.	9
1	to be stainless steel	No	1	2.5.6.	15
4	vents & drains returned to tank	No	1	1.2.4	5
5	to have welded support feet	No	1	5.3.2.	25
\.


--
-- Data for Name: spec_review_requirement_components; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.spec_review_requirement_components (id, requirement_id, component_id) FROM stdin;
1	1	20
2	1	18
3	1	19
4	1	21
5	1	22
6	2	21
8	1	51
9	2	51
10	4	20
11	4	21
12	5	18
\.


--
-- Data for Name: spec_review_specification; Type: TABLE DATA; Schema: public; Owner: devuser
--

COPY public.spec_review_specification (id, spec_number, spec_title, spec_authority, revision, pdf) FROM stdin;
2	API 617	Axial and Centrifugal Compressors and Expander-compressors for Petroleum, Chemical and Gas Industry Services	API	7th Edition	specifications_pdfs/API_617_2002_book_marked.pdf
1	API 614	Lubrication, Shaft-sealing and Oil-control Systems and Auxiliaries	API	5th Edition	specifications_pdfs/API614-2008.pdf
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 56, true);


--
-- Name: core_ingredient_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.core_ingredient_id_seq', 1, true);


--
-- Name: core_recipe_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.core_recipe_id_seq', 6, true);


--
-- Name: core_recipe_ingredients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.core_recipe_ingredients_id_seq', 1, true);


--
-- Name: core_recipe_tags_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.core_recipe_tags_id_seq', 3, true);


--
-- Name: core_tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.core_tag_id_seq', 2, true);


--
-- Name: core_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.core_user_groups_id_seq', 1, false);


--
-- Name: core_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.core_user_id_seq', 3, true);


--
-- Name: core_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.core_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 30, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 14, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 35, true);


--
-- Name: requirements_components_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.requirements_components_id_seq', 12, true);


--
-- Name: requirements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.requirements_id_seq', 5, true);


--
-- Name: spec_review_component_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.spec_review_component_id_seq', 51, true);


--
-- Name: spec_review_specification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: devuser
--

SELECT pg_catalog.setval('public.spec_review_specification_id_seq', 4, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: core_ingredient core_ingredient_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_ingredient
    ADD CONSTRAINT core_ingredient_pkey PRIMARY KEY (id);


--
-- Name: core_recipe_ingredients core_recipe_ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_recipe_ingredients
    ADD CONSTRAINT core_recipe_ingredients_pkey PRIMARY KEY (id);


--
-- Name: core_recipe_ingredients core_recipe_ingredients_recipe_id_ingredient_id_c9de55ee_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_recipe_ingredients
    ADD CONSTRAINT core_recipe_ingredients_recipe_id_ingredient_id_c9de55ee_uniq UNIQUE (recipe_id, ingredient_id);


--
-- Name: core_recipe core_recipe_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_recipe
    ADD CONSTRAINT core_recipe_pkey PRIMARY KEY (id);


--
-- Name: core_recipe_tags core_recipe_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_recipe_tags
    ADD CONSTRAINT core_recipe_tags_pkey PRIMARY KEY (id);


--
-- Name: core_recipe_tags core_recipe_tags_recipe_id_tag_id_f51d05f6_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_recipe_tags
    ADD CONSTRAINT core_recipe_tags_recipe_id_tag_id_f51d05f6_uniq UNIQUE (recipe_id, tag_id);


--
-- Name: core_tag core_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_tag
    ADD CONSTRAINT core_tag_pkey PRIMARY KEY (id);


--
-- Name: core_user core_user_email_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_user
    ADD CONSTRAINT core_user_email_key UNIQUE (email);


--
-- Name: core_user_groups core_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_pkey PRIMARY KEY (id);


--
-- Name: core_user_groups core_user_groups_user_id_group_id_c82fcad1_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_user_id_group_id_c82fcad1_uniq UNIQUE (user_id, group_id);


--
-- Name: core_user core_user_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_user
    ADD CONSTRAINT core_user_pkey PRIMARY KEY (id);


--
-- Name: core_user_user_permissions core_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: core_user_user_permissions core_user_user_permissions_user_id_permission_id_73ea0daa_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_user_id_permission_id_73ea0daa_uniq UNIQUE (user_id, permission_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: spec_review_requirement_components requirements_components_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_requirement_components
    ADD CONSTRAINT requirements_components_pkey PRIMARY KEY (id);


--
-- Name: spec_review_requirement_components requirements_components_requirement_id_component_a4cf4451_uniq; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_requirement_components
    ADD CONSTRAINT requirements_components_requirement_id_component_a4cf4451_uniq UNIQUE (requirement_id, component_id);


--
-- Name: spec_review_requirement requirements_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_requirement
    ADD CONSTRAINT requirements_pkey PRIMARY KEY (id);


--
-- Name: spec_review_component spec_review_component_name_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_component
    ADD CONSTRAINT spec_review_component_name_key UNIQUE (name);


--
-- Name: spec_review_component spec_review_component_part_number_key; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_component
    ADD CONSTRAINT spec_review_component_part_number_key UNIQUE (part_number);


--
-- Name: spec_review_component spec_review_component_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_component
    ADD CONSTRAINT spec_review_component_pkey PRIMARY KEY (id);


--
-- Name: spec_review_specification spec_review_specification_pkey; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_specification
    ADD CONSTRAINT spec_review_specification_pkey PRIMARY KEY (id);


--
-- Name: spec_review_specification unique_specification_revision; Type: CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_specification
    ADD CONSTRAINT unique_specification_revision UNIQUE (spec_number, spec_title, revision);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: core_ingredient_user_id_73e97fe3; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_ingredient_user_id_73e97fe3 ON public.core_ingredient USING btree (user_id);


--
-- Name: core_recipe_ingredients_ingredient_id_a8fec9ee; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_recipe_ingredients_ingredient_id_a8fec9ee ON public.core_recipe_ingredients USING btree (ingredient_id);


--
-- Name: core_recipe_ingredients_recipe_id_eeb7255a; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_recipe_ingredients_recipe_id_eeb7255a ON public.core_recipe_ingredients USING btree (recipe_id);


--
-- Name: core_recipe_tags_recipe_id_7754231e; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_recipe_tags_recipe_id_7754231e ON public.core_recipe_tags USING btree (recipe_id);


--
-- Name: core_recipe_tags_tag_id_10c0ffea; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_recipe_tags_tag_id_10c0ffea ON public.core_recipe_tags USING btree (tag_id);


--
-- Name: core_recipe_user_id_04234149; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_recipe_user_id_04234149 ON public.core_recipe USING btree (user_id);


--
-- Name: core_tag_user_id_1b670500; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_tag_user_id_1b670500 ON public.core_tag USING btree (user_id);


--
-- Name: core_user_email_92a71487_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_user_email_92a71487_like ON public.core_user USING btree (email varchar_pattern_ops);


--
-- Name: core_user_groups_group_id_fe8c697f; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_user_groups_group_id_fe8c697f ON public.core_user_groups USING btree (group_id);


--
-- Name: core_user_groups_user_id_70b4d9b8; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_user_groups_user_id_70b4d9b8 ON public.core_user_groups USING btree (user_id);


--
-- Name: core_user_user_permissions_permission_id_35ccf601; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_user_user_permissions_permission_id_35ccf601 ON public.core_user_user_permissions USING btree (permission_id);


--
-- Name: core_user_user_permissions_user_id_085123d3; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX core_user_user_permissions_user_id_085123d3 ON public.core_user_user_permissions USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: requirements_components_component_id_c6abf7ff; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX requirements_components_component_id_c6abf7ff ON public.spec_review_requirement_components USING btree (component_id);


--
-- Name: requirements_components_requirement_id_22f76454; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX requirements_components_requirement_id_22f76454 ON public.spec_review_requirement_components USING btree (requirement_id);


--
-- Name: spec_review_component_name_0bfe39d1_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX spec_review_component_name_0bfe39d1_like ON public.spec_review_component USING btree (name varchar_pattern_ops);


--
-- Name: spec_review_component_part_number_7e2595ef_like; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX spec_review_component_part_number_7e2595ef_like ON public.spec_review_component USING btree (part_number varchar_pattern_ops);


--
-- Name: spec_review_requirement_specification_id_3a08b6c6; Type: INDEX; Schema: public; Owner: devuser
--

CREATE INDEX spec_review_requirement_specification_id_3a08b6c6 ON public.spec_review_requirement USING btree (specification_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_ingredient core_ingredient_user_id_73e97fe3_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_ingredient
    ADD CONSTRAINT core_ingredient_user_id_73e97fe3_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_recipe_ingredients core_recipe_ingredie_ingredient_id_a8fec9ee_fk_core_ingr; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_recipe_ingredients
    ADD CONSTRAINT core_recipe_ingredie_ingredient_id_a8fec9ee_fk_core_ingr FOREIGN KEY (ingredient_id) REFERENCES public.core_ingredient(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_recipe_ingredients core_recipe_ingredients_recipe_id_eeb7255a_fk_core_recipe_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_recipe_ingredients
    ADD CONSTRAINT core_recipe_ingredients_recipe_id_eeb7255a_fk_core_recipe_id FOREIGN KEY (recipe_id) REFERENCES public.core_recipe(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_recipe_tags core_recipe_tags_recipe_id_7754231e_fk_core_recipe_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_recipe_tags
    ADD CONSTRAINT core_recipe_tags_recipe_id_7754231e_fk_core_recipe_id FOREIGN KEY (recipe_id) REFERENCES public.core_recipe(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_recipe_tags core_recipe_tags_tag_id_10c0ffea_fk_core_tag_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_recipe_tags
    ADD CONSTRAINT core_recipe_tags_tag_id_10c0ffea_fk_core_tag_id FOREIGN KEY (tag_id) REFERENCES public.core_tag(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_recipe core_recipe_user_id_04234149_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_recipe
    ADD CONSTRAINT core_recipe_user_id_04234149_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_tag core_tag_user_id_1b670500_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_tag
    ADD CONSTRAINT core_tag_user_id_1b670500_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_groups core_user_groups_group_id_fe8c697f_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_group_id_fe8c697f_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_groups core_user_groups_user_id_70b4d9b8_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_user_groups
    ADD CONSTRAINT core_user_groups_user_id_70b4d9b8_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_user_permissions core_user_user_permi_permission_id_35ccf601_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permi_permission_id_35ccf601_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_user_user_permissions core_user_user_permissions_user_id_085123d3_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.core_user_user_permissions
    ADD CONSTRAINT core_user_user_permissions_user_id_085123d3_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_core_user_id; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_core_user_id FOREIGN KEY (user_id) REFERENCES public.core_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spec_review_requirement_components requirements_compone_component_id_c6abf7ff_fk_spec_revi; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_requirement_components
    ADD CONSTRAINT requirements_compone_component_id_c6abf7ff_fk_spec_revi FOREIGN KEY (component_id) REFERENCES public.spec_review_component(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spec_review_requirement_components requirements_compone_requirement_id_22f76454_fk_requireme; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_requirement_components
    ADD CONSTRAINT requirements_compone_requirement_id_22f76454_fk_requireme FOREIGN KEY (requirement_id) REFERENCES public.spec_review_requirement(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: spec_review_requirement spec_review_requirem_specification_id_3a08b6c6_fk_spec_revi; Type: FK CONSTRAINT; Schema: public; Owner: devuser
--

ALTER TABLE ONLY public.spec_review_requirement
    ADD CONSTRAINT spec_review_requirem_specification_id_3a08b6c6_fk_spec_revi FOREIGN KEY (specification_id) REFERENCES public.spec_review_specification(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

